<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * <div class="tags is-centered is-flex is-align-items-center" style="height: 100vh;"> * * * -->
<!-- * * *   <div class="tag is-info is-medium has-text-grey-darker is-size-4 is-capitalized has-text-weight-semibold"> * * * -->
<!-- * * *     ¡main-view funciona! * * * -->
<!-- * * *   </div> * * * -->
<!-- * * * </div> * * * -->

<div class="root">
  <!-- Navbar -->
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text ml-1 mt-1">Kanban</h1>
        <figure class="image">
          <img src="assets/kanban.png" alt="kanban" />
        </figure>
      </div>

    </div>
    <div class="add-task-section p-4 field has-addons has-addons-centered">
      <input
        [(ngModel)]="newTask"
        class="input mr-5 is-custom-font"
        placeholder="{{ 'navbar.placeholder' | translate }}"
        type="text"
      />

      <span class="button-wrapper relative block h-16">
        <button class="button is-custom-bg has-text-weight-semibold relative flex gap-2 flex-shrink-0"
          (click)="addTask()" style="width: 70px">
          <span class="relative text-white --m-2">{{ 'navbar.taskButton' | translate }}</span>
        </button>
      </span>

      <li class="nav-item mr-5">
        <div class="dropdown">
          <!-- Button that triggers the menu -->
          <button [cdkMenuTriggerFor]="languageMenu" class="cdk-menu-trigger">
            <span style="font-size: 30px; margin-left: 20px">🗺️</span>
          </button>

          <!-- Menu definition using ng-template -->
          <ng-template #languageMenu>
            <div cdkMenu class="cdk-menu has-background-dark p-3">
              <ul>
                <li *ngFor="let language of languages" class="p-3">
                  <a class="cdk-menu-item is-language-font font-kalam" (click)="toggleLanguage(language)"
                      [ngClass]="{ 'active': currentLanguage === language }">
                    <span [ngClass]="getLanguageName(language)">
                      {{ getLanguageName(language) }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </ng-template>
        </div>
      </li>

    </div>
  </div>

  <!-- Add Task Input and Button -->


  <!-- Kanban Board -->
  <div class="board">
    <div class="board-bar">
      <p class="board-name ml-1 has-text-weight-semibold">{{ 'board.actionBoard' | translate }}</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">
            {{ getTranslatedColumnName(column.name) }}
          </div>
          <div
            class="tasks-container"
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="task"
              *ngFor="let item of column.tasks; trackBy: trackByIndex"
              cdkDrag
              style="display: flex; justify-content: space-between; align-items: center; gap: 10px;"
            >
              {{ item }}
              <button
                (click)="deleteTask(column.name, item)"
                style="color: #16101b; font-size: 20px"
              >🗑</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->

  <footer>
    <div class="has-background-dark content has-text-centered is-size-5 p-3">
      <p>
        <span class="has-text-weight-medium has-text-white">
          <div class="font-box inline-block">
            <span class="font-kalam has-text-weight-medium">C</span>
          </div>
          2025 | Kanban {{ 'footer.by' | translate }}
        </span>
        <a class="custom-footer-text" href="https://portfolio-omega-seven-37.vercel.app">
          Guillermo
        </a>
      </p>
    </div>
  </footer>

</div>
